#---------------------------
# Carga de Horas en Redmine
#---------------------------
# Comapy's Redmine URL
REDMINE_URL=https://redmine.company.com
# Company's Redmine API KEY  
API_KEY=tu_api_key_aqui


#---------------------------
# Mail Sender Configuration
#---------------------------
# Your Email
DE=your_email@company.com
# Your name
DE_NAME="Your Name"

# Recipients (format: "Name1 <email1>","Name1 <email1>"... )
PARA="Recipient1 <recipient1@company.com>"
CC="Recipient2 <recipient2@company.com>"


#---------------------------
# SMTP Server for Mailing
#---------------------------
# SMTP Server Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_PASS=your_smtp_password
# For Gmail, use application password
# See: https://support.google.com/mail/answer/185833\?hl\=es-419
